In [127]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [129]:
data = pd.read_csv("C:/Users/maria/True.csv")

In [130]:
data.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [131]:
data.describe()

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [133]:
print(data.columns)

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [134]:
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_')

In [135]:
print(data.columns)

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [136]:
#drops missing values
data = data.dropna()

In [137]:
#drops duplicates
data = data.drop_duplicates()

In [138]:
#checks if ther is any missing values
data.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [139]:
 # Convert to datetime
data['date'] = pd.to_datetime(data['date'], errors = 'coerce')

# Sort the data by 'date'
data = data.sort_values(by='date', ascending=False)

In [142]:
# Rename columns
data.rename(columns={
    'title': 'Article Title',
    'text': 'Content',
    'subject': 'Category',
    'date': 'Publication Date'
}, inplace=True)

In [149]:
print(data.columns)

Index(['Article Title', 'Content', 'Category', 'Publication Date'], dtype='object')

In [152]:
data.to_csv('Cleaned_True_Data.csv', index=False)