In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("Fake.csv")

In [3]:
print(data.head())

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News

                date
0  December 31, 2017
1  December 31, 2017
2  December 30, 2017
3  December 29, 2017
4  December 25, 2017

In [4]:
print(data.describe())
print(data.info())

                                                    title   text subject  \
count                                               23481  23481   23481
unique                                              17903  17455       6
top     MEDIA IGNORES Time That Bill Clinton FIRED His...           News
freq                                                    6    626    9050

                date
count          23481
unique          1681
top     May 10, 2017
freq              46
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
None

In [5]:
print(data.columns)

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [6]:
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_')
print(data.columns)

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [7]:
data = data.dropna()

In [8]:
data = data.drop_duplicates()

In [9]:
print(data.isnull().sum())

title      0
text       0
subject    0
date       0
dtype: int64

In [10]:
data['date'] = pd.to_datetime(data['date'], errors='coerce')

In [11]:
data = data.sort_values(by='date', ascending=False)

In [12]:
data.rename(columns={
    'title': 'Article Title',
    'text': 'Content',
    'subject': 'Category',
    'date': 'Publication Date'
}, inplace=True)

In [13]:
print(data.columns)

Index(['Article Title', 'Content', 'Category', 'Publication Date'], dtype='object')

In [14]:
data.to_csv('Cleaned_False_Data.csv', index=False)